@import '../../../shares/stylings/variables';

.wrapper {
  font-size: 1.5em;
  color: $main-color;
  
  div {
    padding: 0.25em;
    width: auto;
    min-width: 18vw;
    height: 7.5vh;
    border: 0.125em solid $main-color;

    span {
      vertical-align: middle;
    }
  }
}