@import '../../../shares/stylings/variables';

.wrapper {
  color: $main-color;
  
  select {
    font-size: 1.5em;
    width: 15vw;
    height: 7.5vh;
    display: block;
    padding: 0.25em;
    border: 0.125rem solid $main-color;
  }
}